.box{
   
    background-color: rgba(113, 159, 159, 0.296);
    margin-top: 100px;
    height: 400px;
    box-shadow: 0px 1px 4px 0px black;
    padding: 8px;

   
}
.parent{
    margin-top: 200px;
    width: 350px;
    height: 500px;
    
}
.d1{
    width: 450px;
}

.col-12{
    flex: 0 0 auto;
}
.top{
    text-align: center;
}
.inputbox{
  background-color: rgba(0, 0, 0, 0.386);
}
.main{
    display: flex;
}
.rows{
    display: flex;
   justify-content: space-evenly;
   padding-top: 8px;
}
.btn{
    width: 35px;
    height: 40px;
}
.del{
    padding-left: 35%;
    padding-top: 20px;
}
.btn1{
    width: 100px;
    height: 50px;
}
@media(max-width:400px){
    .box{
        margin-top: 100px;
        width: 300px;
        height: 350px;
    }
    .d1{
        width: 200px;
    }
}
