
.main{
    width: 380px;
    height: 520px;
    background-color: rgb(186, 226, 226);
  margin-top: 100px;
  margin-left: 600px;
  padding: 8px;
  border-radius: 7px;
  box-shadow: 0px 2px 3px 0px rgb(244, 237, 237);
    
}
h3{
    text-align: center;
}

.btn{
    width: 40px;
    height: 50px;
    padding: 8px;

}
.btnrow{
    display: flex;
    justify-content: space-evenly;
    margin-left:25px ; 
    margin-right:25px  ;
    margin-top: 25px;
    text-align: center;
    
}
.btn1{
    box-shadow: 1px 3px 2px 0px rgb(35, 32, 25);
}
.inpt{
   
    box-shadow: 0px 0px 3px 3px rgb(35, 32, 25);
}


@media(min-width:100px) and (max-width:550px)
{
   

    .main{
        background-color: rgba(161, 149, 178, 0.575);
        width: 300px;
        height: 400px;
        margin-left: 10px;
        margin-right: 2px;
        margin-top: 5px;
    }
    
    .btn{

      width: 40px;
      height: 40px;
       padding: 2px;
    }
    .btnrow{
        margin-top: 20px;
    }
}